{% load static %}
<!DOCTYPE html>
<html>

<head>
    
 
    <title>Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 

</head>
<body>
    {% if user.is_authenticated %}
        <div class="container ">
        <h1 class="text-danger text-center">Welcome to Git Quiz</h1>
        
        <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
        
        <form method='post' action=''>
            {% csrf_token %}
            {% for q  in questions %}
            <div class="form-group">
            <h4 class="text-info">{{q.id}})
            <label for="question">{{q.question}}</label></h4>
            </div>
            
            <div class="form-check">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        {{q.op1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.op2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.op3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.op4}}
                    </label>
                </div>
                <br>
            </div>    
            {% endfor %}
            <input id='timer' type='hidden' name="timer" value="">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
            {% block script %}
                <script>
        
                    console.log('hello world')
                    const timer=document.getElementById('displaytimer')
                    console.log(timer.textContent)
                    const inputtag = document.getElementById('timer')
        
                    t=0
                    setInterval(()=>{
                        t+=1
                        timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                        inputtag.value = t
                    },1000)
                </script>
            {% endblock script %}
        
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% else %}
    
    <div class="container ">
        <br>
        <br>
        <p class="bg-danger text-center"><i> Hii, You need to Login to acces these page </i></p>
        <a class="btn btn-warning text-center" href="/login/" type="button"></i> Log in</a>
    </div>
    
    {% endif %}

</body>

</html>