<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</head>
<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="nav-bar-head">
                <h3 class="navbar-brand"> Hi,{{request.user.username}}</h3>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login/"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
                    <li><a href="/logout/"><i class="glyphicon glyphicon-log-out "></i> log out</a></li>
                 </ul>

            </div>
        </div>
    </nav>
    
        <h2 class="text-center"> Git Questions </h2>
        
        <form class=" container text-md form-group " action=" " method="POST">
        
        {% csrf_token %}
        
        {% for q in questions  %}
            <h5>{{q.id}}) {{q.question}}</h5>  &nbsp;
            <a href="/gitdelete/{{q.id}}"> Delete </a><br>

        
        {% endfor %}
        </form>

    
   
    
    
</body>
</html>