<html>
    <head>
        <title>
            KGF CHAPTER 2
        </title>
    <style>
            .wrapper {
         text-align: center;
     }
     
     .button {
        background-color: rgb(131, 209, 57);
        border-radius: 20pt;
        text-align: center;
        padding: 10px 20px;
        font-size: 20px;
        cursor:pointer;
        
     }
</style>
    </head>
    <body>
        
        
    <div class="text1">
        <img src="/templates/Images/kgf.jpg"  height="500" width="1820"> 
       
    </div>
        <div>
        <div  style="background-color: rgb(166, 19, 245);">
        
        <p>
            <h1><center><b>KGF CHAPTER 2</b></center></h1>

        </p>
        </div>

        <div class="wrapper">
            <a href="Booking">
            <button class="button">
                <b>BOOK NOW</b>
            </button>
            </a>
            </div>

        <p>
            <h3><i>IMBD RATING : N/A</i></h3>
        </p>
        <p>
            <h2>About Movie</h2>
        </p>
        <p>
            The blood-soaked land of Kolar Gold Fields (KGF) Has a new overlord now. Rocky, whose name strikes fear in <br>the heart of his foes. His allies look up to Rocky as their Savior, the government sees him as a threat to law and <br>order; enemies are clamoring for revenge and conspiring for his downfall. Bloodier battles and darker days await <br>as Rocky continues on his quest for unchallenged supremacy.
         </p>
        <p>
            <h2>START CAST</h2>
        </p>
        <p>
        Yash as Raja "Rocky" Krishnappa Bhairya<br>

        Anmol Vijay as young Rocky[10]<br>
        
        Sanjay Dutt as Adheera<br>
        Srinidhi Shetty as Reena Desai<br>
        Raveena Tandon as Ramika Sen, Prime Minister of India<br>
        Prakash Raj as Vijayendra Ingalagi[11]<br>
        Anant Nag as Anand Ingalagi<br>
        Achyuth Kumar as Guru Pandian<br>
        </p>
    </div>
    
   
    </body>


</html>