<html>
    <head>
        <title>
            RADHE 
        </title>
<style>
       .wrapper {
    text-align: center;
}

.button {
    background-color: rgb(31, 219, 72);
    text-align: center;
    padding: 10px 20px;
    border-radius: 20rem;
    font-size: 20px;
    cursor: pointer;
}
</style>
    </head>
    <body>
        
        
    <div class="text1">
        <img style="vertical-align: text-top;" src="/templates/Images/radhe.jpg" ALING="right" height="500" width="1830"> 
       
    </div>
        <div>
        <div  style="background-color: rgb(166, 19, 245);">
        
        <p>
            <h1><center><b>RADHE</b></center></h1>

        </p>
        </div>
        
        <div class="wrapper">
        <a href="Booking">
        <button class="button">
            <b>BOOK NOW</b>
        </button>
        </a>
        </div>
        <p>
            <h3><i>IMBD RATING : N/A</i></h3>
        </p>
        <p>
            <h2>About Movie</h2>
        </p>
        <p>
            Radhe is a Hindi movie starring Salman Khan in a prominent role. It is a drama directed by Prabhudeva, with Sohail Khan as the producer, forming part of the crew. 
        </p>
        <p>
            <h2>START CAST</h2>
        </p>
        <p>
        Salman Khan ... Radhe <br/>
        Disha Patani ...<br>
        Jackie Shroff ...<br>
        Randeep Hooda ...<br>
        Arjun Kanungo ...<br>
        Govind Namdev ...<br>
        </p>
    </div>
    
   
    </body>


</html>