{% load static %}

  <aside class="main-sidebar sidebar-light-info elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      {% comment %} <img src="{% static "dist/img/AdminLTELogo.png" %%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> {% endcomment %}
      <span class="brand-text font-weight-light"  style="color:info;">Student Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% comment %} <img src="{% static "dist/img/user2-160x160.jpg"%}" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
          <img class="profile-user-img img-fluid img-circle" img src="{{ student.profile_pic }}" style="width:80px" alt="User profile picture">
        </div>
        <div class="info">
          <a href="#" class="d-block" style="color:#808080;">{{ user.username}}</a>
        </div>
      </div>

    
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ add_student }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Home
                
              </p>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>